<!DOCTYPE html>
<html lang="vi">
<head>
    <!-- Thẻ meta cần thiết -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Trang Quản Trị</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/LayoutAdmin/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/LayoutAdmin/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css cho trang này -->
    <!-- End plugin css cho trang này -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/LayoutAdmin/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/LayoutAdmin/assets/images/favicon.ico" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="container-scroller">
        <!-- partial:~/partials/_navbar.html -->
        <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo" href="~/index.html"><img src="~/LayoutAdmin/assets/images/logo.svg" alt="logo" /></a>
                <a class="navbar-brand brand-logo-mini" href="~/index.html"><img src="~/LayoutAdmin/assets/images/logo-mini.svg" alt="logo" /></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-stretch">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="mdi mdi-menu"></span>
                </button>
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item d-none d-lg-block full-screen-link">
                        <a class="nav-link">
                            <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
                        </a>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:~/partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item nav-profile">
                        <a href="#" class="nav-link">
                            <div class="nav-profile-text d-flex flex-column">
                                <span class="font-weight-bold mb-2">Admin</span>
                            </div>
                            <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Admin/HomeAdmin/">
                            <span class="menu-title">Bảng Điều Khiển</span>
                            <i class="mdi mdi-home menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic1" aria-expanded="false" aria-controls="ui-basic1">
                            <span class="menu-title">Phim</span>
                            <i class="menu-arrow"></i>
                            <i class="mdi mdi-desktop-mac menu-icon"></i>
                        </a>

                        <!--Quản Lý Phim-->
                        <div class="collapse" id="ui-basic1">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" href="~/Admin/ManagementMovie">Quản Lý Phim</a></li>
                                <li class="nav-item"> <a class="nav-link" href="~/Admin/ScheduleManagement">Quản Lý Lịch Chiếu</a></li>
                                
                            </ul>
                        </div>
                    </li>
                    <!--Quản Lý Vé-->
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic2" aria-expanded="false" aria-controls="ui-basic2">
                            <span class="menu-title">Vé</span>
                            <i class="menu-arrow"></i>
                            <i class="mdi mdi-ticket menu-icon"></i>
                        </a>
                        <div class="collapse" id="ui-basic2">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" href="~/Admin/ManagementTicket">Quản Lý vé đã đặt</a></li>
                                <li class="nav-item"> <a class="nav-link" href="~/Admin/ManagementTicket/HuyVe">Quản Lý vé đã hủy</a></li>
                                <li class="nav-item"> <a class="nav-link" href="~/Admin/ManagementTicket/VeDaXem">Quản Lý Vé đã xem</a></li>
                                <li class="nav-item"> <a class="nav-link" href="~/Admin/ManagementTicket/HoanVe">Quản Lý Vé đã hoàn</a></li>
                            </ul>
                        </div>
                    </li>
                    <!--Quản lý order-->
                     <!--Quản Lý Vé-->
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic4" aria-expanded="false" aria-controls="ui-basic4">
                            <span class="menu-title">Order</span>
                            <i class="menu-arrow"></i>
                            <i class="mdi mdi-bowl menu-icon"></i>
                        </a>
                        <div class="collapse" id="ui-basic4">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" href="~/Admin/OrderManagement">Quản lý thực phẩm</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic3" aria-expanded="false" aria-controls="ui-basic3">
                            <span class="menu-title">Quản Lý Doanh Thu</span>
                            <i class="menu-arrow"></i>
                            <i class="mdi mdi-chart-areaspline menu-icon"></i>
                        </a>
                        <div class="collapse" id="ui-basic3">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" href="~/Admin/MovieRevenue">Doanh Thu Phim</a></li>
                                <li class="nav-item"> <a class="nav-link" href="~/Admin/RevenueByTimes">Doanh Thu Theo Thời Gian</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Admin/Employees">
                            <span class="menu-title">Nhân Viên</span>
                            <i class="mdi mdi-contacts menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Admin/Customers">
                            <span class="menu-title">Khách Hàng</span>
                            <i class="mdi mdi-account-multiple menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Admin/Discounts">
                            <span class="menu-title">Khuyến Mãi</span>
                            <i class="mdi mdi-sale menu-icon"></i>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- partial -->
            <main role="main" class="main-panel">
                <div class="content-wrapper">
                    @RenderBody()
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:~/partials/_footer.html -->
                <footer class="footer">
                    <div class="container-fluid d-flex justify-content-between">
                        <span class="text-muted d-block text-center text-sm-start d-sm-inline-block">Bản quyền bởi 3K1D 2024</span>
                    </div>
                </footer>
                <!-- partial -->
            </main>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/LayoutAdmin/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js cho trang này -->
    <!-- End plugin js cho trang này -->
    <!-- inject:js -->
    <script src="~/LayoutAdmin/assets/js/off-canvas.js"></script>
    <script src="~/LayoutAdmin/assets/js/hoverable-collapse.js"></script>
    <script src="~/LayoutAdmin/assets/js/misc.js"></script>
    <!--Thêm quốc gia-->
    <script>
        $(document).ready(function () {
            $.getJSON("https://restcountries.com/v3.1/all", function (data) {
                var countries = data.map(function (country) {
                    return `<option value="${country.cca3}">${country.name.common}</option>`;
                });
                $('#QuocGiaSanXuat').append(countries);
            });
        });
    </script>
    <!-- endinject -->
    <!-- Custom js cho trang này -->
    <!-- End custom js cho trang này -->
</body>
</html>
